body {
  background-color: lightgray;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

p {
  margin-bottom: 50px;
}

ul {
  margin: 50px auto;
}

li {
  margin-bottom: 20px;
}

#keydownImg {
  width: 800px;
}